
{% extends "admin/login.html" %}

{% load static %}

{% block branding %}
<div id="fleetcard-login-logo">
    <img
        src="{% static 'imagens/Logo_FleetCard_para_cadastro_de_veículos-removebg-preview.png' %}"
        alt="FleetCard"
    >
</div>
{% endblock %}


{% block content %}
    {{ block.super }}

    <div class="fleetcard-voltar-site">
    <a href="{% url 'home' %}" title="Voltar para o Site">
        <i class="bi bi-house-fill"></i>
        <span>Voltar para o Site</span>
    </a>
</div>
{% endblock %}


{% block extrastyle %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

